In [22]:
x=57
y=1.23
#print data types and values
print("x=",x)
print("Type of x=",type(x))
print("X=",y,"Type:",type(y))


#arithmatic oprtn
print("x+y=",x+y)
print("y-x=",y-x)
print("y X 2=",y*2)

x= 57
Type of x= <class 'int'>
X= 1.23 Type: <class 'float'>
x+y= 58.23
y-x= -55.77
y X 2= 2.46
IUML KERALA
a[2:5] ML K
INDIA
IUML KERALA + INDIA = IUML KERALAINDIA
a: IUML KERALA
Length of a 11
sev annan mk To uppercase: SEV ANNAN MK
Sevag, is 36

In [31]:

#string operations
#slicing
a="IUML KERALA"
b="INDIA"
print(a)
print("a[2:5]",a[2:6])
print(b)
c=a+b
print(a,"+",b,"=",c)
print("a:",a)
print("Length of a",len(a))
#uppercase
i="sev annan mk"
print(i,"To uppercase:",i.upper())
#formating
age = 36
txt = f"Sevag, is {age}"
print(txt)
print("cap",i,"P:",i.capitalize())
print("replace annan from",i,"to thambi==",i.replace("annan","thambi"))
#string extraction
text="Hello, word"

sub=text.split(",")
print(sub)
print(sub[0])
print(sub[1])

IUML KERALA
a[2:5] ML K
INDIA
IUML KERALA + INDIA = IUML KERALAINDIA
a: IUML KERALA
Length of a 11
sev annan mk To uppercase: SEV ANNAN MK
Sevag, is 36
cap sev annan mk P: Sev annan mk
replace annan from sev annan mk to thambi== sev thambi mk
['Hello', ' word']
Hello
 word
Extract using find
w

In [33]:
#boolean
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")
#bool or not
print(bool("Hello"))
print(bool(15))

b is not greater than a
True
True

In [38]:
#List
list=["apple","banan","orang","orang"]
print(list)
print("length of list",list,"is:",len(list))
#type
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

['apple', 'banan', 'orang', 'orang']
length of list ['apple', 'banan', 'orang', 'orang'] is: 4
<class 'list'>

In [45]:
#tuple
tuple = ("apple", "banana", "cherry", "apple", "cherry")
print(tuple)
#use the len() function:
print("length of",len(tuple))
##type
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('apple', 'banana', 'cherry', 'apple', 'cherry')
length of 5
('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)
('abc', 34, True, 40, 'male')

In [46]:
#set

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [55]:
#dictionaries
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(len(thisdict))
#type

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))
#Using the dict() method to make a dictionary:

thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)
#add item
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

#Add a color item to the dictionary by using the update() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})


# pop() method removes the item with the specified

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)
#Print all key names in the dictionary, one by one:

for x in thisdict:
  print(x)

#se the values() method to return values of a dictionary:

for x in thisdict.values():
  print(x)
# use the keys() method to return the keys of a dictionary:

for x in thisdict.keys():
  print(x)
#by using the items() method:

for x, y in thisdict.items():
  print(x, y)

# copy of a dictionary with the copy() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)
#

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

for x, obj in myfamily.items():
    print(x)
    
    for y in obj:
        print(y + ':', obj[y])

#

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
3
<class 'dict'>
{'name': 'John', 'age': 36, 'country': 'Norway'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
{'brand': 'Ford', 'year': 1964}
brand
year
Ford
1964
brand
year
brand Ford
year 1964
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

In [56]:
#if else 
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

#1
if a > b: print("a is greater than b")

a and b are equal

In [57]:
#using while
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [58]:
#for
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [59]:
#using break

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [60]:

print("not print banana =")
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

not print banana =
apple
cherry

In [61]:
#range
for x in range(6):
  print(x)

0
1
2
3
4
5

In [62]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [67]:
#functiondef my_function():
print("Hello")

def my_function(fname):
  print(fname + " jalal")

my_function("swalih")
my_function("jalal")
my_function("jinn")

Hello
swalih jalal
jalal jalal
jinn jalal

In [71]:
#date

import datetime

x = datetime.datetime.now()
print("time now:",x)

##
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

time now: 2024-07-23 10:56:48.719169
2024
Tuesday